### A lambda function is an anonymous function (i.e., defined without a name) that can take any number of arguments but, unlike normal functions, evaluates and returns only one expression.

In [ ]:
def square(x):
    return x*x

In [2]:
print(square(5))

25

In [5]:
f = lambda x : x*x

In [20]:
f(5)

25

In [8]:
f1 = lambda a,b: a+b

In [19]:
f1(4,5)

9

In [24]:
nums = [3,7,1,2,0,8,5,4,6]

In [25]:
evens = list(filter(lambda n: n%2==0, nums))

In [26]:
evens

[2, 0, 8, 4, 6]

In [27]:
doubles = list(map(lambda n: n*2,evens))

In [28]:
doubles

[4, 0, 16, 8, 12]

In [29]:
from functools import reduce

In [30]:
sum = reduce(lambda a,b: a+b, doubles)

In [31]:
sum

40

#### One important difference between the map() and filter() functions is that the first one always returns an iterable of the same lenth as the original one. So, since pandas Series objects are also iterables, we can apply the map() function on a DataFrame column to create a new column:

In [32]:
import pandas as pd

In [33]:
df = pd.DataFrame({'col1': [1, 2, 3, 4, 5], 'col2': [0, 0, 0, 0, 0]})

In [36]:
df

   col1  col2  col3
0     1     0    10
1     2     0    20
2     3     0    30
3     4     0    40
4     5     0    50

In [35]:
df['col3'] = df['col1'].map(lambda x: x * 10) #df['col3'] = df['col1'].apply(lambda x: x * 10)

In [37]:
df

   col1  col2  col3
0     1     0    10
1     2     0    20
2     3     0    30
3     4     0    40
4     5     0    50